<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Home page</h1>
    <form action="sign-out" method="post">
        <button>Sign out</button>
    </form>

    <div class="search-form">
        <form method="get" action="/locations">
            <label for="locationName"></label><input type="text" placeholder="Enter location" id="locationName"
                                                     name="locationName" required>
            <button type="submit">Location search</button>
        </form>
    </div>

    <h2>Weather cards</h2>

    <div th:if="${#lists.isEmpty(weatherCards)}">
        <p>No locations found.</p>
    </div>

    <div class="weathers-cards-container" th:else>
        <div class="weather-card" th:each="card : ${weatherCards}">
            <p th:text="'Location name:' + ${card.locationName}"></p>
            <p th:text="'Country: ' + ${card.country}"></p>
            <p th:text="'Longitude: ' + ${card.longitude}"></p>
            <p th:text="'Latitude: ' + ${card.latitude}"></p>
            <p th:text="'Temperature: ' + ${card.temperature}"></p>
            <p th:text="'Feels like: ' + ${card.feelsLike}"></p>
            <p th:text="'Description: ' + ${card.description}"></p>
            <p th:text="'Wind speed: ' + ${card.windSpeed}"></p>
            <p th:text="'Wind direction: ' + ${card.windDirection}"></p>

            <form action="/delete-location" th:method="post">
                <input type="hidden" th:name="'lon'" th:value="${card.longitude}"/>
                <input type="hidden" th:name="'lat'" th:value="${card.latitude}"/>
                <button type="submit">Delete</button>
            </form>

        </div>

    </div>

</body>
</html>